body {
  background-color: #FFF;
  font-family: 'RobotoDraft', sans-serif;
}
.container {
  width: 80%;
  margin: 50px auto;
}

/* Add your styles here! */

@media (min-width: 481px) {
  .container {
    width: 400px;
  }

  /* Add your styles here! */
paper-button {
  background: #03a9f4;
  color: white;
}

}
