<!--
    @license
    Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
    This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
    The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
    The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
    Code distributed by Google as part of the polymer project is also
    subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<!doctype html>
<html>
<head>

  <title>GDG 2014</title>

  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="app.css">

  <!-- Platform elements -->
  <script src="bower_components/webcomponentsjs/webcomponents.js"></script>

  <!-- Custom elements -->
  <link rel="import" href="../polymer/polymer.html">
  <link rel="import" href="elements/thought-single.html">
  <link rel="import" href="elements/thoughts-list.html">
  <link rel="import" href="elements/firebase-element.html">

  <!-- Bower libraries -->
  <link rel="import" href="../paper-input/paper-input.html">
  <link rel="import" href="../paper-button/paper-button.html">

</head>

<body unresolved>

  <template is="auto-binding">

    <firebase-element id="base" on-data-change="{{dataChange}}" childEvents on-child-removed="{{childRemoved}}"  on-child-added="{{childAdded}}"  data="{{data}}" location="https://gdg2014.firebaseio.com/messages"></firebase-element>

    <paper-input id="message-input" multiline="" floatinglabel="" label="Type here something to share with the world!!!" layout="" value="{{userText}}"  vertical=""></paper-input>
    <paper-button id="submit-button" raised="{{post}}" on-tap= "{{post}}" class="colored" role="button" tabindex="0" style="overflow: visible;">Share</paper-button>

    <thoughts-list></thoughts-list>


  <script>

    addEventListener('template-bound', function(e) {

      scope = e.target;

      scope.dataChange = function() {
         this.json = JSON.stringify(this.data, null, '\t');


         var messages = [];
         for (var key in this.data) {
            if (this.data.hasOwnProperty(key)) {
              var message = this.data[key];
              message['key'] = key;
              messages.push( message  );
            }
          }

          document.querySelector('thoughts-list').messages = messages;

      };

      scope.childAdded = function(event) {
        console.log('PUSHED -> ', event.detail.name, ':', event.detail.value);
        //document.querySelector('#toast1').show();
        //Set timer to delete in 30 sec
        //setTimeout(function() { scope.remove(event.detail.name) }, 20000);
        setTimeout(function() { scope.remove(event.detail.name) }, 300000);
        //alert(event.detail.value);

      };

      scope.childRemoved = function(event) {
        console.log('REMOVED -> ', event.detail.name, ':', event.detail.value);
        //document.querySelector('#toast1').show();
        //Set timer to delete in 30 sec
        //alert(event.detail.value);

      };

      scope.post = function(value) {
        var divsize = ((Math.random()*100) + 50).toFixed();
        //var posx = (Math.random() * (document.body.clientWidth - divsize)).toFixed();
        //var posy = (Math.random() * (document.body.clientHeight - divsize)).toFixed();

        var posx = Math.floor(Math.random() * (1200));
        var posy = Math.floor(Math.random() * (600 / 2) + 60);;

        console.log('pushing -> ',this.userText);
        this.$.base.push( { 'text': '"'+this.userText+'"', 'posx' : posx, 'posy' : posy } );
      }

      scope.remove = function(value) {
        console.log('removing -> ',value);
        this.$.base.remove(value);
      }

    });


    document.querySelector('#message-input').addEventListener('keypress', function (e) {
       console.log( e );
        var key = e.keyCode;
        if (key == 13) { // 13 is enter
         scope.post();
        }
    });

  </script>


</body>
</html>
