<script src="https://cdn.firebase.com/js/client/1.1.3/firebase.js"></script>

<polymer-element name="firebase-element">

<script>

  Polymer('firebase-element', {
    publish: {
      location: null,
      ref: null,
      limit: 0,
      start: null,
      end: null,
      data: null,
      keys: null,
      childEvents: false,
      priority: null,
      dataReady: false,
      log: false
    },
    observe: {
      'ref limit start end': 'requery'
    },
    locationChanged: function() {
      // shut-down previous observers (if any)
      this.closeQuery();
      this.closeObserver();
      // connect to db
      if (this.location) {
        this.ref = new Firebase(this.location);
      } else {
        this.ref = null;
      }
    },
    requery: function() {
      // shut-down previous observers (if any)
      this.closeQuery();
      this.closeObserver();
      // construct new query
      var query = this.ref;
      if (query) {
        if (this.start) {
          query = query.startAt(this.start);
        }
        if (this.end) {
          query = query.endAt(this.end);
        }
        if (this.limit > 0) {
          query = query.limit(this.limit);
        }
        this.query = query;
      }
    },
    queryChanged: function() {
      // initialize
      this._setData(null);
      // data acquisition
      this.dataReady = false;
      this.valueLoading = true;
      this.query.once('value', this.valueLoaded, this.errorHandler, this);
      // observe server-side data
      this.observeQuery();
    },
    valueLoaded: function(snapshot) {
      this.valueLoading = false;
      if (this.ref.name() !== snapshot.name()) {
        this.log && console.warn('squelching stale response [%s]', snapshot.name());
        return;
      }
      this.log && console.log('acquired value ' + this.location);
      this.dataReady = true;
      this._setData(snapshot.val());
      if (this.data) {
        this.dataChange();
      }
    },
    _setData: function(data) {
      this.closeObserver();
      this.data = this._data = data;
      this.observeData();
    },
    //
    // server-side data-observation
    //
    observeQuery: function() {
      // server side dynamics
      this.query.on('child_added', this.childAdded, this.errorHandler, this);
      this.query.on('child_changed', this.childChanged, this.errorHandler, this);
      this.query.on('child_removed', this.childRemoved, this.errorHandler, this);
    },
    closeQuery: function() {
      if (this.query) {
        this.query.off();
      }
    },
    //
    // client-side data-observation
    //
    observeData: function() {
      if (this.data instanceof Array) {
        this.observer = new ArrayObserver(this.data);
        this.observer.open(this.observeArray.bind(this));
      } else if (this.data instanceof Object) {
        this.observer = new ObjectObserver(this.data);
        this.observer.open(this.observeObject.bind(this));
      }
    },
    closeObserver: function() {
      if (this.observer) {
        this.observer.close();
        this.observer = null;
      }
    },
    dataChanged: function() {
      if (this._data !== this.data) {
        this._setData(this.data);
        this.commit();
      }
    },
    priorityChanged: function() {
      if (this.ref && (this.priority != null)) {
        this.ref.setPriority(this.priority, this.errorHandler);
      }
    },
    discardObservations: function() {
      if (this.observer) {
        this.observer.discardChanges();
      }
    },
    deliverObservations: function() {
      if (this.observer) {
        this.observer.deliver();
      }
    },
    //
    // server-side effects
    //
    childAdded: function(snapshot) {
      if (this.data) {
        // ignore initial adds, we'll take the 'value' instead
        this.modulateData('updateData', snapshot);
      } else if (!this.valueLoading) {
        // if children are added to a previously null location, grab the whole value in one go
        this.valueLoading = true;
        this.query.once('value', this.valueLoaded, this);
      }
      this.childEvent('child-added', snapshot);
    },
    childChanged: function(snapshot) {
      if (!this.valueLoading) {
        this.modulateData('updateData', snapshot);
      }
      this.childEvent('child-changed', snapshot);
    },
    childRemoved: function(snapshot) {
      if (!this.valueLoading) {
        this.modulateData('removeData', snapshot);
      }
      this.childEvent('child-removed', snapshot);
    },
    childEvent: function(kind, snapshot) {
      this.log && console.log(kind, snapshot.name());
      if (this.childEvents) {
        this.fire(kind, {name: snapshot.name(), value: snapshot.val()});
      }
    },
    modulateData: function(operation, snapshot) {
      // handle any pending observations
      this.deliverObservations();
      this[operation](snapshot);
      this.dataChange();
      // discard any observations so we don't send this value back to the
      // server, it may already be stale from the server's perspective
      this.discardObservations();
    },
    updateData: function(snapshot) {
      if (!this.data) {
        this.data = {};
      }
      this.data[snapshot.name()] = snapshot.val();
    },
    removeData: function(snapshot) {
      var key = snapshot.name();
      if (this.data instanceof Array) {
        this.data.splice(key, 1);
        if (this.data.length == 0) {
          this._setData(null);
        }
      } else if (this.data) {
        delete this.data[key];
        if (Object.keys(this.data).length === 0) {
          this._setData(null);
        }
      }
    },
    dataChange: function() {
      //this.job('change', function() {
        if (this.data) {
          this.keys = this.data ? Object.keys(this.data) : [];
        }
        this.fire('data-change');
      //});
    },
    //
    // client-side effects
    //
    observeArray: function(splices) {
      //console.warn('observeArray');
      // TODO(sjmiles): arrays are nasty because simple insertions/deletions
      // cause changes to ripple through keys
      this.commit();
    },
    observeObject: function(added, removed, changed, getOldValueFn) {
      // client-side dynamics
      var ctrlr = this;
      Object.keys(added).forEach(function(property) {
        ctrlr.commitProperty(property);
      });
      Object.keys(removed).forEach(function(property) {
        ctrlr.remove(property);
      });
      Object.keys(changed).forEach(function(property) {
        ctrlr.commitProperty(property);
      });
    },
    // api for manual commits
    commitProperty: function(key) {
      this.log && console.log('commitProperty ' + key);
      if (this.ref) {
        this.ref.child(key).set(this.data[key], this.errorHandler);
      }
    },
    remove: function(key) {
      this.ref.child(key).remove(this.errorHandler);
    },
    commit: function() {
      this.log && console.log('commit');
      if (this.ref) {
        if (this.priority != null) {
          this.ref.setWithPriority(this.data || {}, this.priority, this.errorHandler);
        } else {
          this.ref.set(this.data || {}, this.errorHandler);
        }
      }
    },
    push: function(item) {
      var neo;
      if (this.data instanceof Array) {
        this.commitProperty(this.data.push(item)-1);
      } else {
        this.ref.push(item, this.errorHandler);
      }
      this.dataChange();
      return neo;
    },
    errorHandler: function(error) {
      if (error) {
        this.fire('error', {error: error});
      }
    }
  });
</script>
</polymer-element>
