<link rel="import" href="thought-single.html">

<polymer-element name="thoughts-list"  attributes="messages">
  <template>
    <style>
      /* styles for the custom element itself - lowest specificity */
      :host { display: block; }
      /*
      style if an ancestor has the different class
      :host(.different) { }
      */
    </style>
    <ul>
      <template id="thoughts" repeat="{{ message in messages }}">
        <thought-single posy="{{ message.posy }}" posx="{{ message.posx }}" key="{{ message.key }}" message="{{ message.text }}"></thought-single>
      </template>
    </ul>
  </template>
  <script>
    Polymer('thoughts-list', {
    });
  </script>
</polymer-element>