<polymer-element name="thought-single"  attributes="message,key,posx,posy">
  <template>
    <style>
      /* styles for the custom element itself - lowest specificity */
      :host { display: block; }
      /*
      style if an ancestor has the different class
      :host(.different) { }
      */

    .chat-bubble {
      background-color: transparent;
     font-style: italic;
      font-size: 36px;
      line-height: 1.3em;
      margin: 10px auto;
      padding: 10px;
      position: absolute;
      text-align: center;
      width: 300px;
    }
    </style>

    <div id="{{key}}" style="left:{{posx}}px; top:{{posy}}px;" class="chat-bubble">
      {{ message }}
      <div class="chat-bubble-arrow-border"></div>
      <div class="chat-bubble-arrow"></div>
    </div>
  </template>
  <script>
    Polymer('thought-single', {
    });
  </script>
</polymer-element>